.main-container {
  display: column;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../common/images/home1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2; 
}

main {
  flex-grow: 1;
}

