.btn-pri{
  padding: .375rem .375rem;
  background: #9bdc28;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: .25rem;  
  font-weight: 400;
  color: rgb(0, 0, 0);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: center;
  margin: .25rem;
}



.btn-pri:hover {
  background: #9bdc2880;  
}


.row{
    padding: 0.5rem;
}

.modal-title {
  text-align: center;
  width: 90%;
}
