*,
*::after,
*::before {
  box-sizing: border-box;
}

.cont-home {
  text-align: center;
  background-color: #9bdc28;
  padding: 2rem;
  z-index: 20000;
  background: #050505;
  opacity: 0.6;
  border-radius: 20px; 
}

.row .titleHome {
  font-size: 50px;
  margin: -20px 0 20px;
  color: #9bdc28;
 
}

.row .titleHome:hover { 
  color: #ffffff;
}

.row p {
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

@keyframes myAnim {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}

.container span{
  color: #ffffff;
  font-size: 50px;
}
.container span:hover{
  color:  #9bdc28;
  transition: 0.5s;
}

 



