*,
*::after,
*::before {
  box-sizing: border-box;
}


.buttonUD {
  display: inline-block;
  padding: 10px 10px;
  background: #fff;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  font-weight: 800;
  color: #111;
  transition: 0.5s;
  text-decoration: none;
  border-radius: 5px;
}

.buttonUD:hover {
  background-color:#cbf386; 
  transition: 0.5s;  
}

.cont-home {
  text-align: center;
  background-color: #9bdc28;  
  background: #050505;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 10px #000;    
  margin: 5rem;  
  margin-top: 5rem; 
}

.cont-home .titleHome {
  color: #9bdc28;
  margin-top: 1rem;
}

.cont-home .titleHome:hover { 
  color: #ffffff;
}

.cont-home .decription {
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin-top: 1rem;
}

.cont-home .titleHome2{
  color: #ffffff;
  margin-top: 1rem;
}
.cont-home .titleHome2:hover{
  color:  #9bdc28;
  transition: 0.5s;
}

.card-header{
  width: 100%;
  height: 180px;
}

.card-header img{
  width: 50%;
  height: 150px;
}

.panel-heading label{
  color: rgb(255, 166, 0);
}

.content-item-carousel{
  background-image: url("https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/04/10/15865379018557.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  text-align: center;
  border-radius: 1rem;
 }

 .title-slide, .carousel-team, .carousel-Info{
  color: rgb(255, 255, 255);
 }

 .carousel-Info, .panel-heading label{
  font-size: 20px;
  font-weight:bold;
 }

 .carousel-control-prev{
   background-color: #000000;
   margin-left: 0.8rem;
   border-radius: 1rem;
   width: 8%;
   
 }

 .carousel-control-next{
  background-color: #000000;
  margin-right: 0.7rem;
  border-radius: 1rem;
  width: 8%;  
 }

 .img-galery{
  margin:10px auto;
  width: 50%;
  height: 400px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
  
  }


.img-galery img{
  width: 100%;  
  height: 400px;
  border-radius: 1rem;
  box-shadow: -1px -2px 24px 0px #000;
}



.cont-footer {
  background-color: rgb(0, 0, 0);   
  font: 14px sans-serif;  
  margin-top: 5rem;
 
}


.link, .span-footer{
  line-height: 1.8;
  text-decoration: none;
  color:  rgb(255, 255, 255);
  margin: auto;
}


.cont-footer .company-name{    
  font-size: 1rem; 
  height: 3rem;  
  text-align: center;
  padding: 2rem;
  color:  rgb(255, 255, 255);
  background-color: rgb(10, 10, 10);
}

.row .span-footer:hover, .link:hover{
 color:  #9bdc28;
 transition: 0.5s;  
}

.icon-footer{
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 30px;
  display: flex;  
}

.icon-footer a{
 color:  #9bdc28;
 margin: 1rem;
}

.icon-footer a:hover{
  color:  #a3b18a;
  transition: 0.5s;  
 }

 .my-card {   
  margin-top: 1rem;
  box-shadow: 5px 5px 10px 1px #000;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
 }

 .card-img{
   height: 25vh;
 }

 @media (max-width: 768px) {
  .img-galery{
    width: 100%; 
  }

  .card-img{
    height: 45vh;
  }

  .cont-home .decription{
    font-size: 15px;
  }

  .cont-home .titleHome, .cont-home .titleHome2{
    font-size: 20px;
  }
}