.card{
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    max-width: 350px;
    margin: 5px;   
   
}

.card .btn{            
    width: 47%;  
    margin: 3px;      
    color: black; 
    font-weight: bold;  
}

.card .card-header{
    background-color: rgb(14, 151, 25);
    color: rgb(255, 255, 255);
    text-align: center;    
    border: white 8px outset;   
}

.card-footer{
 padding: 3px 10px;
  border: rgb(32, 36, 32) 4px solid;
  border-radius: 20px;
}

.card-text{  
   color: black;
   font-size: 17px;
   font-family: Arial, Helvetica, sans-serif;
}
.card img{
    max-height: 200px;
}




